.ast_output__close_button {
    font-size: 16px;
    padding: 4px;
}

.ast_output__view,
.ast_output__close_button {
    resize: none;
    outline:0 !important;
    -webkit-appearance:none;
    box-shadow: none !important;
    border: none !important;
}

.ast_output__container {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: 100%;
}

.ast_output__view {
    background-color: #f8f9fa !important;
}